/*---------------------------------------------------------

  I - set color

-------------------------------------------------------- */

/*  1. 定义主颜色  */
$colorGreen: #109d58;   //  原谅绿
$colorRed: #dc4437;     //  姨妈红
$colorPink: #fa7298;    //  哔哩粉
$sadBlue: #3f51b5;      //  忧郁蓝
$darkBlue: #009788;     //  水鸭青
$skyBlue: #2196f3;      //  天空蓝
$colorPurple: #673bb7;  //  基佬紫
$sadOrange: #ff9700;    //  橘子橙

/*  2. 定义悬浮色  用于hover效果*/
$colorGreenLight: #109d58*1.3;   //  原谅绿
$colorRedLight: #dc4437*1.3;     //  姨妈红
$colorPinkLight: #fa7298*1.3;    //  哔哩粉
$sadBlueLight: #3f51b5*1.3;      //  忧郁蓝
$darkBlueLight: #009788*1.3;     //  水鸭青
$skyBlueLight: #2196f3*1.3;      //  天空蓝
$colorPurpleLight: #673bb7*1.3;  //  基佬紫
$sadOrangeLight: #ff9700*1.3;    //  橘子橙

/*  3.textColor colorBlack bgColor*/
$textColor: #333;
$bgColor: #f8f8f8;
$colorBlack: #000;
$colorWhite: #fff;



