<div class="about mt-15">
    <!-- 自我介绍 -->
    <h3>关于我</h3>
    <div class="botui-app-container mt-5" id="botui-app">
        <bot-ui></bot-ui>
    </div>
    <h3 class="mt-5">站点用途</h3>
    <ul class="check">
        <li>弘扬正能量  传播核心价值观</li>
        <li>弘扬中国文化 传承中华美德</li>
        <li>提供良好的交流平台</li>
        <li>记录一些学习笔记</li>
        <li>整理一些学习资料</li>
        <li>暂无</li>
    </ul>
    <h3 class="mt-5">站点规划</h3>
    <ul class="check">
        <li>尽快完成全部页面</li>
        <li>设计数据库对接后台</li>
        <li>修改页面细节争强用户体验</li>
    </ul>
    <h3 class="mt-5">本站严禁</h3>
    <ul class="error">
        <li>本站严禁发布违法信息，一经发现立即举报</li>
        <li>本站严禁发布虚假信息</li>
        <li>本站严禁辱骂他人</li>
        <li>本站严禁警告暴力</li>
    </ul>
    
</div>



  