<div class="yuki-index">
    <!-- jumb -->
      <%- partial('_partial/jumbotron')%>
    <!-- carousel -->
      <%- partial('_partial/carousel',{carId:'#backend',carT:theme.backendTitle,carST:theme.backendSubTitle,carF:'backend'})%>
      <%- partial('_partial/carousel',{carId:'#fontend',carT:theme.fontendTitle,carST:theme.fontendSubTitle,carF:'fontend'})%>
      <%- partial('_partial/carousel',{carId:'#devend',carT:theme.devendTitle,carST:theme.devendSubTitle,carF:'fontend'})%>
     <!-- 

      -->
  </div>
</div>




<!--
  <div class="swiper-wrapper">
    <% var flag = 0; %>
    <% page.posts.each(function(post){ %>
      <%if(flag % 3 == 0){%>
        <div class="index-content-page swiper-slide">
      <% }%>
      <% if(post.field="backend"){%>
        <% flag ++ ;%>
        <div class="index-content-item">
          <div class="index-content-top">
            <img src="/img/cover/9.jpg">
          </div>
        </div>
      <% } %>
        
      <% if(flag % 3 == 0 && flag != 0){%>
        </div>
      <% }%>
    <% })%>
    <% if(flag %3 != 0){%>
      </div>
    <% }%>
    
    <div class="index-content-page swiper-slide">
    </div>
    <div class="index-content-page swiper-slide">
      3
    </div>
  </div> 
  <div class="swiper-pagination index-content-pagination">
    
  </div>
-->