<article id="post" class="mt-20 ma">
  <div class="post-box">
    

    
    <!-- <div class="post-aside">
   
      <div class="post-catlog-box">
        这里是目录
      </div>
    </div> -->

    <div class="post-main">
      <!-- 文章主体 -->
      <div class="post-con">
        <h1 class="title tc"><%= page.title %></h1>
        <%- page.content %>
      </div>
      <!-- 打赏 -->
      <div class="post-reward tc mt-20">
        <span>💰</span>
        <div>
            <img src="/img/reward/zfb.jpg"alt="">
            <img src="/img/reward/zfb.jpg" alt="">
        </div>
        <p>©商业转载请联系作者获得授权，非商业转载请注明出处。</p>
      </div>
        
        
      
        <!-- 分享 -->
        <div class="post-share-box">
          <div class="post-lince-box">
            &copy;商业转载请联系作者获得授权，非商业转载请注明出处。
          </div>
          <div class="post-share-item">
            <div class="social-share"></div>
          </div>
        </div>
     
      <!-- 评论 -->
      <div class="post-comment-box">
        <div id="vcomments"></div>
      </div>

      
    </div>
   
    
  </div>
</article>