
<!-- 视频页面 -->
<div class="mt-25 mb-">
    <%- partial('_partial/ytitle',  {title: 'Yukiの视频',subtitle:'爆裂吧 现实 粉碎吧 精神 放逐这个世界!'}) %>
</div>

<ul class="blibli-video">
    <li>
        <iframe 
            src="//player.bilibili.com/player.html?aid=86036339&cid=147059772&page=1" 
            scrolling="no" 
            border="0" 
            frameborder="no" 
            framespacing="0" 
            allowfullscreen="true"
            style="height: 400px; width: 100%">
        </iframe>
    </li>
    <li>
        <iframe 
        src="//player.bilibili.com/player.html?aid=3068134&cid=4818816&page=1" 
        scrolling="no" 
        border="0" 
        frameborder="no" 
        framespacing="0" 
        allowfullscreen="true"
        style="height: 400px; width: 100%"></iframe> 
    </iframe>
    </li>
    <li>
        <iframe 
        src="//player.bilibili.com/player.html?aid=64358034&cid=111742055&page=1" 
        scrolling="no"
         border="0"
          frameborder="no" 
          framespacing="0" 
        allowfullscreen="true"
        style="height: 400px; width: 100%"></iframe> 
    </iframe>
    </li>
</li>


        

        <!-- <iframe 
        id=sbrxp 
        src="//player.bilibili.com/player.html?aid=11200262&cid=18527724&page=1"
         scrolling="no"
          border="0"
           frameborder="no" 
           framespacing="0" 
           allowfullscreen="true" 
           > 
         </iframe> -->
  