
<!-- 视频页面 -->
<div class="mt-25">
    <%- partial('_partial/ytitle',  {title: 'Yukiの视频',subtitle:'爆裂吧 现实 粉碎吧 精神 放逐这个世界!'}) %>
</div>
<ul class="blibli-video mt-10">
    <%  page.vidoeList.forEach((item) => { %>
        <li>
            <a href="<%- item.link%>" class="text">
                <div>
                    <i class="czs-play-l"></i>
                    <img src="<%- item.img%>" alt="">
                </div>
                <p><%= item.title%></p>
            </a>
        </li>
    <%  }) %>
    
   
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


      