<div class="yuki-words">
    <div class="words-top-box">
        <div>Yuki纪元</div>
        <p> 
            <sapn id="words-info"></sapn>
            <sapn class="words-blink"> | </sapn>
        </p>
    </div>
    <div id="words-comment-box">
        这个是评论地sdasdas方
    </div>
    <button type="button" class="nes-btn is-primary">Primary</button>
    <span class="nes-text is-primary">Primary</span>
    <span class="nes-text is-success">Success</span>
<span class="nes-text is-warning">Warning</span>
<span class="nes-text is-error">Error</span>
<span class="nes-text is-disabled">Disabled</span>
</div>