
<div id="bg-story">
    <h3 class="yuki-shake mt-20">留言板</h3>
    <div class="word mt-5">
        <p >
            <span id="word-chinese">aaa</span><br>
            《进击的巨人》
        </p>
    </div>

    <h3 class="yuki-shake mt-15">留下足迹</h3>
    <div id="vcomments" class=""></div>
</div>
