/*-------------------

    desc: 定义通用样式
    author: yuki
    date: 2020 - 01 - 09

--------------------*/
@import '_variable';

/*  容器 */
$wrap-list: min, mid, max;
.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    box-sizing: border-box;

    @each $var in $wrap-list {
        .#{$var} {
            max-width: 500px + index($wrap-list, $var) * 300px
        }
    }
}

/* 通用背景 */
.bgPrimary {
    background-color: $bgColorPrimary;
}
.bgGrey {
    background-color: $bgColorGrey;
}

/*-- 通用 Margin 和 Padding */

@for $i from 1 through 30 {
    .m-#{$i}{margin:5px * $i}
    .ml-#{$i}{margin-left:5px * $i}
    .mr-#{$i}{margin-right:5px * $i}
    .mt-#{$i}{margin-top:5px * $i}
    .mb-#{$i}{margin-bottom:5px * $i}
    .pd-#{$i}{padding:5px * $i}
    .pdl-#{$i}{padding-left:5px * $i}
    .pdr-#{$i}{padding-right:5px * $i}
    .pdt-#{$i}{padding-top:5px * $i}
    .pdb-#{$i}{padding-bottom:5px * $i}
  }


/*  通用颜色  */
.colorPrimary {
    color: $colorPrimary;
}

/* 通用定位 */
.pr {
    position: relative;
}

/* 居中 */
.tc{
    text-align: center;
}

/*
 mixins
**/
// base @mixin of position
@mixin pos_base($pos, $left , $top ,$zidx) {
    position: $pos;
    top: $top;
    left: $left;
    z-index: $zidx;
}
@mixin pos_base_lb($pos, $left , $bottom ,$zidx) {
    position: $pos;
    bottom: $bottom;
    left: $left;
    z-index: $zidx;
}
@mixin pos_base_rb($pos, $right , $bottom ,$zidx) {
    position: $pos;
    bottom: $bottom;
    right: $right;
    z-index: $zidx;
}

// @mixin of position fixed 
@mixin pos_fixed($left,$top,$zidx) {
    @include pos_base(fixed, $left, $top, $zidx)
}

@mixin pos_abs($left,$top,$zidx) {
    @include pos_base(absolute,$left,$top,$zidx)
}
@mixin pos_abs_lb($left,$bottom,$zidx) {
    @include pos_base_lb(absolute,$left,$bottom,$zidx)
}
@mixin pos_abs_rb($right,$bottom,$zidx) {
    @include pos_base_rb(absolute,$right,$bottom,$zidx)
}

/**
* flex 布局
*/

@mixin  flex_base($col,$jst-ctr,$alg-item) {
    display: flex;
    flex-direction: $col;
    justify-content: $jst-ctr;
    align-items: $alg-item;
}

@mixin flex_col_ctr_ctr {
    @include flex_base(column,center,center)
}

/**
*  margin-ctr
*/
@mixin margin_ctr($width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
}


@mixin max_row($row) {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: $row !important;
    overflow : hidden !important;
    text-overflow: ellipsis !important;
}