/* --------------------------------

 desc: 全局变量和方法定义
 author: yuki
 date: 6666 - 06 -06

------------------------------------- */


/* --------------------------------

    1. 定义通用变量

------------------------------------- */

/*  定义颜色 - 主色  */
$colorPrimary:#4284D7;  //  网站主色调
$colorWarn:#FFA000;     //  网站辅助色，突出显示类
$colorError:#E64A19;    //  网站辅助色。删除类
$colorSuccess:#4CAF50;  //  网站辅助色，成功类


/*  颜色定义 - 副色, 稍淡稍量，用于hover效果，在主色的基础上增亮30%  */
$colorPrimaryLight:$colorPrimary*1.3;
$colorWarnLight:$colorWarn*1.3;
$colorErrorLight:$colorError*1.3;
$colorSuccessLight:$colorSuccess*1.3;

/*  文本颜色  */
$colorDefault:#353535;          //  主文字、标题类、内容类
$colorDefaultLight:#999999;     //  副文字，提示类
$colorDefaultReverse:#FFFFFF;   //  文字反转色

/*  标准边框颜色  */
$borderColorPrimary:#73AEF8;
$borderColorWarn:#FFBD5A;
$borderColorSuccess:#84d387;
$borderColorError:#E64A19*1.1;
$borderColorGrey:#DCDCDC;
$borderColorDefault:$borderColorGrey;   //默认的边框颜色

/*  标准边框颜色(hover)  增亮20%   */
$borderColorPrimaryLight:$borderColorPrimary*1.2;
$borderColorWarnLight:$borderColorWarn*1.2;
$borderColorSuccessLight:$borderColorSuccess*1.2;
$borderColorErrorLight:$borderColorError*1.2;
$borderColorGreyLight:$borderColorGrey*1.2;
$borderColorDefaultLight:$borderColorDefault*1.2;

/* 标准背景色 */
$bgColorPrimary:#F7FBFF;
$bgColorWarn:#FFFAF3;
$bgColorSuccess:#F4FBF4;
$bgColorError:#FFFAF3;
$bgColorGrey:#F8F8F8;       //  区域背景色，title等地方
$bgColorDarkGrey:#F5F5F5;   //  较深的背景色，表格斑马色，label等
$bgColorDefault:#FFFFFF;    //  主体背景色


/* 标准背景色(hover)，增亮20% */
$bgColorPrimaryLight:$bgColorPrimary*1.2;
$bgColorWarnLight:$bgColorWarn*1.2;
$bgColorSuccessLight:$bgColorSuccess*1.2;
$bgColorErrorLight:$bgColorError*1.2;
$bgColorGreyLight:$bgColorGrey*1.2;
$bgColorDefaultLight:$bgColorGreyLight;

/* 标准字 */
$fontF1:16px;           //  内容类
$fontF2:20px;           //  普通标题
$fontF3:25px;           //  大标题
$fontDefault:$fontF1;   //  默认字号


/* --------------------------------

    2. 定义组件变量

------------------------------------- */


