
//定义字体
@font-face{
    font-family: yuki-dzt;
    src: url(/fonts/字体管家大侦探体.ttf);
  }
  
  
  @font-face{
    font-family: yuki-xds;
    src: url(/fonts/小电视体.ttf);
  }
  
  @font-face{
    font-family: yuki-zjd;
    src: url(/fonts/FZPANGPBJW.TTF);
  }

  @font-face{
    font-family: yuki-xszt;
    src: url(/fonts/FZXIANGSU16.TTF);
  }