.yuki-container-v{
    height: 100vh;

.yuki-category{  
    width: 100%;
    height: 100vh;
    // background-color: palevioletred;
    box-sizing: border-box;
    position: relative;

    //元素居中
    .cate-box{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #333;
       
        //logo
        .cate-logo-b,.cate-logo-s{
            font-size: 20px;
            text-align: center;
            color: #333;
            font-style: italic;
        }
        .cate-logo-b{  
            font-size: 20px;

            .cate-icon-bottom{
                top: 10px;
                transform: rotate(180deg);
                position: absolute;
            }
        }
        .cate-logo-s{
            padding-top: 60px;
            
        }

        //中心内容
        .cate-content{
            box-sizing: content-box;
            padding-top: 130px;
            position: relative;
            // background-color: firebrick;
            
            .cate-content-index{
                width: 100%;

                //具体内容
                .cate-item-box{
                    box-sizing: border-box;
                    vertical-align: middle;
                    margin: 0 20px;
                    background-color: #fff;
                    width: 300px;
                    height: 260px;
                    display: inline-block;
                    border-radius: 5px;
                    box-shadow: 5px 5px 20px -8px rgba($color: #000000, $alpha: 0.5);
    


                    .cate-item-top{
                        width: 100%;
                        height: 200px;
                        background-color: palegreen;

                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    .cate-title-box{
                        text-align: left;
                        padding-left: 25px;
                        line-height: 60px;
                        font-size: 16px;
                        font-style: italic;
                        letter-spacing: 1px;
                    }
                }
            }

            .swiper-wrapper{
                height: 340px;
                // position: absolute;
                // bottom: 0px;
                // margin-bottom: -10px;
            }

            
        }

        .cate-page{
            padding-top: 60px;
            text-align: center;
        }

    }
}

.cate-fontend{
    // background-color: green;
}

.cate-operation{
    // background-color: darkcyan;
}

.yuki-xds-index{
    width: 100%;
    height: 100vh;
    background-color: purple;
    position: relative;

    .cate-xds-top{
        text-align: center;
        width: 600px;
        height: 400px;
        margin: 90px auto;
        border: 1px solid red;
    }

    .cate-xds-footer{
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}


}