.post{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    
    .post-box{
        position: relative;

        .post-main{
            position: relative;
            margin: 0 auto;
            max-width: 980px;
            box-sizing: border-box;
            border: 1px solid red;
            
            //文章主体
            .post-con{
                padding: 10px;
                text-align: left;
                line-height: 2.5em;
                font-size: 18px;
                letter-spacing: 1px;

                //文章标题
                .post-title .title{
                    text-align: center;
                    font-size: 30px;
                    font-weight: 600;
                    padding-bottom: 50px;
                }

                .post-content{
                    text-indent: 25px;
                   
                    h1,h2,h3,h4,h5,h6,strong{
                        font-weight: bold;
                    }
                    h1{
                        font-size: 28px;
                        line-height: 1.5em;
                    }
                    h2{
                        font-size: 26px;
                    }
                    h3{
                        font-size: 24px;
                    }
                    h4{
                        font-size: 22px;
                    }
                    h5{
                        font-size: 20px;
                    }
                    h6{
                        font-size: 18px;
                    }
                    ol{
                        li{
                            list-style-type: lower-greek;
                            list-style-position: inside;
                        }
                    }
                    ul{
                        li{
                            list-style: square;
                            list-style-position: inside;
                        }
                    }
                    code{
                        color: #F45A8D;
                    }
                    a{
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        text-underline-position:under;
                        &:hover{
                            color: #F45A8D;
                        }
                    }
                }
            }

            //打赏
            .post-reward-box{
                position: relative;
                padding-top: 20px;
                // border: 1px solid green;

                .post-reward-btn{
                    color: #eee;
                    font-size: 25px;
                    font-family: yuki-xds;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    line-height: 50px;
                    background-color: #F45A8D;
                    border-radius: 50%;

                    &:hover + div{
                        display: block;
                    }
                }


                .post-reward-item-box{
                    display: none;
                    position: absolute;
                    left: 50%;
                    margin-top: 15px;
                    transform: translateX(-50%);
                    width: 310px;

                    &:hover{
                        display: block;
                    }

                    .post-reward-item{
                        text-align: center;
                        @include hover-div(300px,10px);

                        .post-reward-pic{
                            width: 130px;
                            margin: 0 5px;
                            display: inline-block;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
  
            }

            //分享 版权
            .post-share-box{
                margin: 30px 0;
                padding: 25px 0;
                border-bottom: 1px dashed #F45A8D;
                border-top: 1px dashed #F45A8D;
                text-align: center;

                .post-lince-box{
                    font-size: 16px;
                    padding-bottom: 20px;
                }

                .post-share-item{
                    font-size: 10px;

                    .social-share{
                        z-index: 100;
                    }
                }
            }

            //目录
            .post-catlog-box{
                overflow: hidden;
                position: fixed;
                // height: 200px;
                // border: 1px solid green;
                top: 180px;
                right: 50px;
                // margin-right: -190px;
                line-height: 2em;
                font-size: 1.1em;
            }
        }
    }
}