@import "common";
@import "font";

@import "_comp/hover-div";

@import "_partial/header";
@import "_partial/jumbotron";
@import "_partial/carousel";


@import "_page/index";
@import "_page/words";
@import "_page/post";


//通用宽度
.container {
  max-width: 1140px;
  margin: 0 auto;
}

#nprogress .bar {
  height: 3px;
}


@import "_keyframes/shakeit";




@import "_partial/footer";


@import "_page/english.scss";

.clearfix{*zoom:1};
.clearfix::before{
content: '';
display: table;
}
.clearfix::after{
content: '';
display: table;
clear: both;
}
