<footer class="yuki-fotter">
    <div class="copyright-box">
        <h6>© Copyright 2018 yuki - All Rights Reserved</h6>
    </div>
    <div class="shar-box">
        A  | B  | C  |   D
    </div>
</footer>