
<div id="yuki-jumbotron">
    <div class="jumb-box">
        <div class="animated wobble">
            <div class="jumb-title yuki-shake">
                <div class="shake shake-little shake-constant ">
                    <span class="jumb-dzt">進撃</span>
                    <span class="jumb-xds">の</span>
                    <span class="jumb-dzt">yuki</span> 
                </div>
            </div>
            <div class="jumb-words">
                <span><%= theme.pcSubTitle %></span>
            </div>
            <div class="jumb-share">
                <% var count = 0; %>
                <% for(name in theme.pcLinks) { %>
                <%if( count % 4 == 0) {%>
                    <span>
                <%}%>
                <a href="<%- theme.pcLinks[name].url %>" 
                    style="color: #<%- theme.pcLinks[name].color %>;">
                    <i class="<%- theme.pcLinks[name].icon %>"></i>
                </a>
                <%if( count %4 == 3) {%>
                    </span>
                <%}%> 
                <% count ++ %>
                <% } %>
            </div>
        </div>
    </div>
</div>

  