.yuki-en{
    margin-top: 150px;
    width: 100%;


    .yuki-en-wrap{
        margin: 0 auto;
        max-width: 800px;
        border:1px solid red;

        .yuki-en-title{
            color: #6e8aad;
            font-weight: 400;
            font-size: 2em;
            font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB";
            margin-bottom: 30px;
            text-align: center;
        }

        .yuki-en-subtitle{
            text-align: center;
            margin-bottom: 1em;
            font-style: oblique;
            color: #555;
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 70px;
        }

        .yuki-en-box{
            margin-bottom: 50px;

            .yuki-en-con-title{
                span{
                    display: inline-block;
                    color: #6e8aad;
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #ddd;
                }
            }

            .yuki-en-con{
                font-size: 16px;
                line-height: 30px;
                font-weight: 300;
                font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif;  ;
                text-indent: 40px;
            }

            .yuki-en-foot{
                padding-top: 10px;
                .yuki-en-time{
                    // border: 1px solid red;
                }
                .yuki-en-time,.yuki-en-tag{
                    display: inline-block;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 300;
                    font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif;
                    margin-right: 15px;
                    // color: #666;

                    .i{
                        margin-right: 5px;
                    }
                }
               
            }
        }
    }
}