/*-- css of Header --*/
$header-height: 75px;
@mixin header_botoom($width,$height,$scale) {
  &::after {
     content: "";
     display: block;
     @include ret($width,$height,var(--siteColorLight));
     @include pos_abs_lb(0,0,0);
     transition: all 1s ;
     transform: scale($scale);
   }
}
#yuki-header{
  width: 100%;
  @include pos_fixed(0,0,99);
  @include padding_fill_left_right(3rem,3rem,var(--bgColor));
  box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
  .header-logo {
    height: $header-height;
    @include flex_col_center;
    div:first-child {
      font-size: 1.6rem;
      font-family: yuki-dzt;
      span:nth-child(2) {
        font-family: yuki-xds;
      }
    }
  }
  .header-nav {
    .nav-item {
      height: $header-height;
      line-height: $header-height;
      padding:0 .9rem;
      position: relative;
      @include header_botoom(100%, 5px,0);
      &:hover {
        .sub-nav {
          display: block;
        }
        @include header_botoom(100%,5px,1);
      }
    }
    .sub-nav {
      display: none;
      @include pos_abs(0,65px,99);
      width: 100%;
      background-color: var(--bgColor);
      text-align: center;
      z-index: 99;
      box-shadow: 2px 2px 20px #ccc;
      &:before {
        content: "";
        display: block;
        @include tri_top(10px, var(--bgColor));
        @include pos_abs(50%,0,1);
        transform: translate(-50%,-100%);
      }
      @include header_botoom(100%, 5px,0);
      &:hover {
        @include header_botoom(100%, 5px,1);
      }
      .sub-nav-item {
        line-height: 3em;  
      }
    }    
  }
  .header-toggle {
    display: none;
  }

  @media screen and (max-width: 825px) {
    padding:0 .5em;
  }
  @media screen and (max-width: 685px) {
    padding: 0 0.8rem;
    .header-logo {
      float: right;
    }
    .header-nav {
      display: none;
    }
    .header-toggle {
      line-height: 75px;
      float: left;
      display: block;
    }
  }
}
/*-- css of mobile --*/
#header-mobile {
  display: none;
  @include pos_fixed(0,0,100);
  width: 45%;
  height: 100vh;
  @include padding_fill_up_down(3rem,0,var(--bgColor));
  overflow-y: scroll;
  .mobile-con {
    overflow-y: scroll;
    @include flex_col_center;
    img {
      @include img_circle(60%);
    }
    .mobile-title {
      @include font_size_height(1.25rem,5em);
      font-family: yuki-dzt;     
      span:nth-child(2) {
        font-family: yuki-xds;
      }
    }
    .mobile-links {
      i {
        font-size: 1rem;
        margin: 0 .3rem;
      }
    }
  }
  
  ul {
    margin-top: 2rem;
    li {
      line-height: 2em;
    }
    .sub-mobile-nav-item{
      a {
        padding-left: .8rem;
        color:#9cacc5;
      }
    }
  }
}
/**--- 遮罩层---*/
#mask {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  @include pos_fixed(0,0,100);
  display: none;
}
/**--- jumbotron ---*/
#yuki-jumbotron{
    height: 100vh;
    position: relative;
    .jumb-box{
        @include pos_abs(50%,50%,0);
        transform: translate(-50%, -50%);
        text-align: center;

        .jumb-title{
            font-size: 3.75rem;
            span {
                font-family: yuki-dzt;
            }
            span:nth-of-type(2) {
                font-family: yuki-xds;
            }
        }

        .jumb-words{
            margin-top: 3.125rem;
            letter-spacing: 5px;
        }
        //jumb-share-box
        .jumb-share{
            margin-top: 3.75rem;
            font-size: 1.5rem;
            a{
                margin: 8px;
            }
            
        }
    }
    @media screen and (max-width: 830px){
        .jumb-share {
             span {
                 display: block;
                 padding: .6rem 0;
             }
        }
    }
    @media screen and (max-width: 700px){
        .jumb-title {
            margin-top: 3rem;
            span:nth-of-type(2) {
                display: block;
                font-size: 5rem;
            }
        }
    }
}
// css of wall
.wall {
    display: block;
    position: relative;
    .wall-column {
        display: block;
        float: left;
        width: 25%;
        padding: 0 12px;
        position: relative;
    }
    @media (max-width: 640px) {
        .wall-column {
          width: 50%;
        }
    }
       @media (max-width: 480px) {
        .wall-column {
          width: auto;
          float: none;
        }
    }

    .article {
        display: block;
        margin: 0 0 1.8rem 0;
        padding: 12px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        transition: all 220ms;
    }
}

$yuki-foot-font-color:#666666;
.yuki-fotter{
    text-align: center;

    .copyright-box{
        padding: 1.5rem;

    }
    h5{
        color: $yuki-foot-font-color;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-weight: normal;
    }
}