


#post{
    @include margin_ctr(800px);
    //文章主体
    .post-con{
        .title {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
       .post-md {
            h1::before{
                content: '1️⃣ ';
            }
            h2::before{
                content: '2️⃣ ';
            }
            h3::before{
                content: '3️⃣ ';
            }
            h4::before{
                content: '🍀 ';
            }
            h5::before{
                content: '5️⃣ ';
            }
            h6::before{
                content: '🔯 ';
            }
            p,h1,h2,h3,h4,h5,h6,a{
                font-size: 1rem;
                line-height: 3em !important;
            }
            p {
                padding-bottom: 0rem;
            }
            img{
                display: block;
                @include margin_ctr(90%);
            }
            .gutter {
                pre {
                    width: 0px;
                }
            }
            ul{
                li:before {
                    display: inline;
                    content: "🚩";
                    margin-right: .3em;
                }
            }
            ol {
                list-style: katakana;
                list-style-position: inside;
            }
            ol,ul {
                text-indent: 2rem;
                line-height: 2rem;
            }   
        }
    }
    // 文章打赏
    .post-reward{
        @include border_pic(url(../img/border/border1.png),50,repeat);
        position: relative;
        span {
            @include padding_fill_circle(.8rem,var(--siteColor),50%);
            font-size: 1.25rem;
            &:hover {
                & + div {
                    display: block;
                }
            }
        }
        div {
            display: none;
            width: 360px;
            @include padding_fill(1rem, var(--bgColor));
            box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
            @include pos_abs(50%,25px,99);
            transform: translateX(-50%);
            &::before {
                content: "";
                display: block;
                @include tri_top(10px,var(--bgColor));
                @include pos_abs(50%,0,99);
                transform: translate(-50%,-95%);
            }
            &:hover {
                display: block;
            }
            img {
                @include img_ret(150px);
            }
            img:first-child {
                margin-right: 1rem;
            }
            
           
        }
        p:last-child {
            margin-top: 2rem;
        }
    }

    #vcomments {
        margin-top: 5rem;
        background-color:transparent !important;
    }
}

.post-togo-btn {
    @include padding_fill_circle(0.5rem,var(--siteColor),50%);
    box-shadow: 2px 1px 13px rgba(0,0,0,.5);
    cursor: pointer;
}

#post-aside {
    @include pos_fixed(2rem,42%,1);
    @include padding_fill_circle(1rem, var(--bgColor),8px);
    box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    overflow: hidden;
    span {
        @include pos_abs_rb(1rem, 50%, 22);
        transform: translateY(50%);
    }
}

#post-aside-togo {
    display: none;
    @include pos_fixed(2rem,50%,2);
}


