
@mixin img-circle($length) {
    width: $length;
    height: $length;
    border-radius: 50%;
}

@mixin mg-cen($top: 0, $bottom: 0){
    margin-top: mg-cen;
    margin: $top 0 auto $bottom;
}


.video-wrapper,.book-wrapper{
    box-sizing: border-box;
    max-width: 1200px !important;
}