$yuki-foot-font-color:#666666;
.yuki-fotter{
    text-align: center;

    .copyright-box{
        padding: 1.5rem;

    }
    h5{
        color: $yuki-foot-font-color;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 1px;
        font-size: 0.8rem;
        font-weight: normal;
    }
}

