.yuki-fotter{
    text-align: center;
    height: 180px;
    background-color:grey;
    box-sizing: border-box;
    padding: 60px 60px 50px 60px;
    line-height: 30px;
}

.shar-box{
    padding-top: 20px;
}