//定义变量
$yuki-header-height: 75px;
$yuki-header-padding: 40px;
$yuki-toggle-size:1.25rem;
$yuki-min-screem:830px;
$yuki-hover-color: #F45A8D;
$yuki-main-color:#666;
$yuki-bg-color: #eee;

@mixin yuki-header-mix($bg,$color) {
  .yuki-header{
    width: 100%;
    height: $yuki-header-height;
    color: $color;
    background: $bg;
    position: fixed;
    top: 0;
    z-index: 99;
    user-select:none;
    box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    a{color: $color;}
    a:hover{ color: $yuki-hover-color;}
    // header-box
    .header-box{
      padding: 0 $yuki-header-padding;
      //toggle
      .header-toggle{
        float: left;
        font-size: $yuki-toggle-size;
        height: $yuki-header-height;
        &::before,i{ 
          display: inline-block;
          vertical-align: middle;
        }
        &::before{
          height: 100%;
          content: "";
        }
        @media screen and (min-width: $yuki-min-screem) {
          display: none;
        }
      }
      //log-box
      .logo-box{
        float: right;
        @media screen and (min-width: $yuki-min-screem) {
          float: left;
        }
        .logo-link{
          display: inline-block;
          position: relative;
          //logo top
          .logo-top{
            font-family: yuki-dzt;
            height: 75px;
            position: relative;
            @media screen and (min-width: $yuki-min-screem) {
              font-size: 1.6rem;
            }
            &::before{
              content: '';
              height: 100%; 
            }
            &::after,span{
              display: inline-block;
              vertical-align: middle;
            }
            .logo-xds{
              font-family: yuki-xds;
              font-size: 40px;
            }
          }
          //小标签
          .logo-small{
            width: 100%;
            text-align: center;
            font-size: 0.5rem;
            font-weight: 600;
            position: absolute;
            bottom: 2px;
            letter-spacing: 0.25rem; 
            @media screen and (min-width: $yuki-min-screem){
              letter-spacing: 0.625rem; 
            }
          }
        }
  
        
      }
      //logo-nav
      .nav-box{
        display: none;
        float: right;
        @media screen and (min-width: $yuki-min-screem){
          display: block;
        }
        .nav-list{
          line-height: 75px;
          .nav-item-li{
            //定义变量  一级菜单和二级菜单通用宽度
            $menu-margin: 10px;
            padding: 0 $menu-margin;
            position: relative;
            float: left;
            .nav-item{
              font-weight: 500;
              letter-spacing: 0.1rem;
              display: inline-block;
            } 
            .sub-list{
              visibility: hidden;
              position: absolute;
              @include hover-div-posi($yuki-bg-color,$yuki-main-color);
              width: 110%;
              text-align: center;

              &:after,&:hover:after{
                content: '';
                height: 5px;
                position: absolute;
                background-color: $yuki-hover-color;
                bottom: 0;
                left: 0;
                width: 0;
                transition: width 0.5s linear 0s;
              }
              &:hover:after{
                width: 100%;
              }


    
              //集成一级菜单样式 添加自定义样式
              .sub-list-item{
                @extend .nav-item;
                overflow-wrap: normal;
                display: block;
                line-height: 50px !important;
                color: #666;
                &:hover{color: $yuki-hover-color;}
              }
            }
            .sub-list:hover{
              visibility: visible;
            }
            .show-sub-list:hover + .sub-list{
              visibility: visible;
            }
            //动态效果
            .nav-item:hover+.sub-list{
              &:after{
                
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}


.yuki-header-no-trans{
  width: 100%;
  @include yuki-header-mix(#eee,#666);
}

.yuki-header-trans{
  width: 100%;
  @include yuki-header-mix(none,#eee);
}
