/*-- books    --*/
.book-list {
    @include margin_ctr(800px);
    padding: 0 0.625rem;
   
     li{
       padding: 3.125rem 0;
       border-bottom: 1px solid #e2e2e2;
       display: flex;
   
       a:first-child {
         flex-shrink: 0;
         flex-grow: 0;
         img {
           display: block;
           width: 9.375rem;
           margin-right: 2.1875rem;
         }
         
       }
   
       div:last-child {
         font-size: 1.125rem;
         line-height: 2.3em;
         span{
           font-weight: 600;
         }
         a {
           font-size: 0.9em;
         }
         p{
           @include max_row(5);
         }
       }
   
       @media (max-width: 700px){
         padding: 1rem;
         div:last-child {
           font-size: 1rem;
         }
       }
       @media (max-width: 600px){
         div:last-child {
           font-size: 0.9rem;
         }
       }
       @media (max-width: 480){
         div:last-child {
           font-size: 0.7rem;
         }
       }
     }
}
/*-- game     --*/
.game{
  @include margin_ctr(1200px);

  h4{
      font-size: 1.25rem;
      padding-left: 1rem;
      position: relative;
      &:before {
          content: "";
          width: 5px;
          height: 1.25rem;
          border-radius: 5px;
          position: absolute;
          left: 0;
          top: 50%;
         
          background-color: $colorPrimary;
          transform: translateY(-50%);
        }
  }

  ul{
      display: flex;
      flex-wrap: wrap;
      li{
          width: 33%;
          padding: 1rem;
          div {
              padding: 1rem;
              display: flex;
              align-items: center;
              border-radius: 2px;
              box-shadow: 1px 2px 2px 0 rgba(0,0,0,.1);
              background-color: #f8f8f8;
              img{
                  display: block;
                  width: 68px;
                  height: 68px;
                  margin-right: 1rem;
                  border-radius: 50%;
                  flex-grow: 0;
                  flex-shrink: 0; 
              }
              img.group {
                  border-radius: 5px !important;
              }

              span {
                  display: block;
                  font-weight: normal;
                  margin-top: 5px;
                  @include max_row(2);
              }
          }
      }
      @media screen and (max-width: 900px) {
          li{
              width: 50%;
          }
      }
      @media screen and (max-width: 625px) {
          li{
              width: 100%;
          }
      }
  }

  
  
}
/*-- video     --*/
.blibli-video {
  border: 1px solid red;
  @include margin_ctr(1400px);
  padding: 1em;

  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    padding: 1rem;
  }

  @media (max-width: 1065px) {
    li {
      width: 100%;
      padding: 1rem;
    }
  }

}

